.container-fluid {
    box-sizing: border-box;
    padding-top: 5%;
    background-color: cadetblue;
    width: fit-content;
}

.form-control.ng-touched.ng-invalid {
    border: 2px ridge red;
}

.form-select.ng-touched.ng-invalid {
    border: 2px ridge red;
}

.form-check-input.ng-touched.ng-invalid {
    border: 2px ridge red;
}